<launch>
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find papa_description)/urdf/papa.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0" />
  </node>

  <node pkg="rosserial_python" type="serial_node.py" name="rosserial" respawn="true" respawn_delay="30">
    <param name="port" value="/dev/ttyACM0"/>
  </node>

  <node pkg="papa_bringup" type="camera_node" name="camera_node" respawn="true" respawn_delay="30" />
</launch>
